#root {
  width: 100%;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.navbar {
  background-color: #333;
  padding: 10px 20px;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
}

.nav-item a:hover {
  color: #ccc;
}